.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.stock-info, .stock-chart {
  width: 30%;
}

.stock-info {
  text-align: left;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.stock-chart {
  width: 50%;
}
